<?xml version="1.0" encoding="utf-8"?>
<unity>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
  <containers>
    <container name="aopContainer">
      <extension type="Interception"/>
      <register type="AOPConsoleApp.Model.IUserProcessor,AOPConsoleApp" mapTo="AOPConsoleApp.Model.UserProcessor,AOPConsoleApp">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="AOPConsoleApp.UnityWay.ExceptionLoggingBehavior, AOPConsoleApp"/>
        <interceptionBehavior type="AOPConsoleApp.UnityWay.CachingBehavior, AOPConsoleApp"/>
        <interceptionBehavior type="AOPConsoleApp.UnityWay.LogBeforeBehavior, AOPConsoleApp"/>
        <interceptionBehavior type="AOPConsoleApp.UnityWay.ParameterCheckBehavior, AOPConsoleApp"/>

        <interceptionBehavior type="AOPConsoleApp.UnityWay.LogAfterBehavior2, AOPConsoleApp"/>
        <interceptionBehavior type="AOPConsoleApp.UnityWay.LogAfterBehavior, AOPConsoleApp"/>


      </register>
    </container>
  </containers>
</unity>