<?xml version="1.0" encoding="utf-8"?>
<unity>
  <containers>
    <container name="IOCcontainer">
      <register type="IOC.Interface.IPower,IOC.Interface" mapTo="IOC.Service.Power,IOC.Service" name="Power"/>
      <register type="IOC.Interface.IPhone,IOC.Interface" mapTo="IOC.Service.AndroidPhone,IOC.Service" name="AndroidPhone"/>
      <register type="IOC.Interface.IPhone,IOC.Interface" mapTo="IOC.Service.ApplePhone,IOC.Service" name="ApplePhone"/>

      <register type="IOC.Interface.IMicrophone,IOC.Interface" mapTo="IOC.Service.Microphone,IOC.Service"/>
      <register type="IOC.Interface.IHeadphone,IOC.Interface" mapTo="IOC.Service.Headphone,IOC.Service"/>
      <register type="IOC.Interface.IPower,IOC.Interface" mapTo="IOC.Service.Power,IOC.Service"/>
    </container>
  </containers>
</unity>

