/.vs/

/packages/

/CSharpProfessional/DelegatesAndEvents/AnonymousMethods/bin/
/CSharpProfessional/DelegatesAndEvents/AnonymousMethods/obj/
/CSharpProfessional/DelegatesAndEvents/BubbleSorter/bin/
/CSharpProfessional/DelegatesAndEvents/BubbleSorter/obj/
/CSharpProfessional/DelegatesAndEvents/EventsSample/bin/
/CSharpProfessional/DelegatesAndEvents/EventsSample/obj/
/CSharpProfessional/DelegatesAndEvents/GetAStringDemo/bin/
/CSharpProfessional/DelegatesAndEvents/GetAStringDemo/obj/
/CSharpProfessional/DelegatesAndEvents/LambdaExpressions/bin/
/CSharpProfessional/DelegatesAndEvents/LambdaExpressions/obj/
/CSharpProfessional/DelegatesAndEvents/MulticastDelegates/bin/
/CSharpProfessional/DelegatesAndEvents/MulticastDelegates/obj/
/CSharpProfessional/DelegatesAndEvents/MulticastDelegateWithIteration/bin/
/CSharpProfessional/DelegatesAndEvents/MulticastDelegateWithIteration/obj/
/CSharpProfessional/DelegatesAndEvents/SimpleDelegates/bin/
/CSharpProfessional/DelegatesAndEvents/SimpleDelegates/obj/
/CSharpProfessional/DelegatesAndEvents/WeakEventsGenericSample/bin/
/CSharpProfessional/DelegatesAndEvents/WeakEventsGenericSample/obj/

/CSharpProfessional/LINQSamples/LINQLearn/bin/
/CSharpProfessional/LINQSamples/LINQLearn/obj/
/CSharpProfessional/LINQSamples/DataLib/bin/
/CSharpProfessional/LINQSamples/DataLib/obj/
/CSharpProfessional/LINQSamples/EnumerableSample/bin/
/CSharpProfessional/LINQSamples/EnumerableSample/obj/
/CSharpProfessional/LINQSamples/ExpressionTreeSample/bin/
/CSharpProfessional/LINQSamples/ExpressionTreeSample/obj/
/CSharpProfessional/LINQSamples/LINQIntro/bin/
/CSharpProfessional/LINQSamples/LINQIntro/obj/
/CSharpProfessional/LINQSamples/ParallelLinqSample/bin/
/CSharpProfessional/LINQSamples/ParallelLinqSample/obj/

/UnitTestProject/bin/
/UnitTestProject/obj/

/AOP/AOPConsoleApp/bin/
/AOP/AOPConsoleApp/obj/

/IOC/IOC.aop/bin/
/IOC/IOC.aop/obj/
/IOC/IOC.ConsoleApp/bin/
/IOC/IOC.ConsoleApp/obj/
/IOC/IOC.Factory/bin/
/IOC/IOC.Factory/obj/
/IOC/IOC.Interface/bin/
/IOC/IOC.Interface/obj/
/IOC/IOC.Service/bin/
/IOC/IOC.Service/obj/
/IOC/IOC.ServiceExt/bin/
/IOC/IOC.ServiceExt/obj/
/IOC/Spring.Net/Spring.Net.IOC.Factory/bin/
/IOC/Spring.Net/Spring.Net.IOC.Factory/obj/
/IOC/Spring.Net/Spring.Net.IOC.Test/bin/
/IOC/Spring.Net/Spring.Net.IOC.Test/obj/


/Loger/Loger/bin/
/Loger/Loger/obj/

/Memcache/Cache.Memcache/bin/
/Memcache/Cache.Memcache/obj/

/MVC/FirstMvcWebApp/bin/
/MVC/FirstMvcWebApp/obj/
/MVC/MvcMusicStore/bin/
/MVC/MvcMusicStore/obj/
/MVC/MvcMusicStore.Tests/bin/
/MVC/MvcMusicStore.Tests/obj/

/Redis/Redis/bin/
/Redis/Redis/obj/
/Redis/Redis.Cache/bin/
/Redis/Redis.Cache/obj/
/Redis/Redis.Cache.Base/bin/
/Redis/Redis.Cache.Base/obj/
/Redis/Redis.Cache.Factory/bin/
/Redis/Redis.Cache.Factory/obj/
/Redis/Redis.Exchange/bin/
/Redis/Redis.Exchange/obj/
/Redis/RedisBackServiceConsoleApp/bin/
/Redis/RedisBackServiceConsoleApp/obj/
/Redis/RedisConsoleApp/bin/
/Redis/RedisConsoleApp/obj/
/Redis/RedisHelper/Wdj.Redis.ConsoleTest/bin/
/Redis/RedisHelper/Wdj.Redis.ConsoleTest/obj/
/Redis/RedisHelper/Wdj.Redis.Helper/bin/
/Redis/RedisHelper/Wdj.Redis.Helper/obj/
/Redis/RedisHelper/Wdj.Redis.HelperTest/bin/
/Redis/RedisHelper/Wdj.Redis.HelperTest/obj/

/WebService WCF/SOAConsoleApp/bin/
/WebService WCF/SOAConsoleApp/obj/
/WebService WCF/SOAWebApp/bin/
/WebService WCF/SOAWebApp/obj/
/WebService WCF/WCFHostConsoleApp/bin/
/WebService WCF/WCFHostConsoleApp/obj/
/WebService WCF/WCFHostWebApp/bin/
/WebService WCF/WCFHostWebApp/obj/
/WebService WCF/WCFInterface/bin/
/WebService WCF/WCFInterface/obj/
/WebService WCF/WCFModel/bin/
/WebService WCF/WCFModel/obj/
/WebService WCF/WCFService/bin/
/WebService WCF/WCFService/obj/
/WebService WCF/WebServiceHostWebApp/bin/
/WebService WCF/WebServiceHostWebApp/obj/
/WebService WCF/WebServiceModel/bin/
/WebService WCF/WebServiceModel/obj/

/Util/Util/bin/
/Util/Util/obj/

/Design Patterns/Singleton Pattern/SingletonPattern/bin/
/Design Patterns/Singleton Pattern/SingletonPattern/obj/
/Design Patterns/Factory Pattern/FactoryMethodPattern/bin/
/Design Patterns/Factory Pattern/FactoryMethodPattern/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Interface/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Interface/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Service/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Service/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.ServiceExtend/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.ServiceExtend/obj/
/Design Patterns/Factory Pattern/SimpleFactoryPattern/bin/
/Design Patterns/Factory Pattern/SimpleFactoryPattern/obj/
/Design Patterns/Abstract Pattern/AbstractFactoryPattern/bin/
/Design Patterns/Abstract Pattern/AbstractFactoryPattern/obj/
/Design Patterns/Abstract Pattern/Sanguosha.Factory/bin/
/Design Patterns/Abstract Pattern/Sanguosha.Factory/obj/
/Design Patterns/Abstract Pattern/Sanguosha.Interface/bin/
/Design Patterns/Abstract Pattern/Sanguosha.Interface/obj/
/Design Patterns/Abstract Pattern/Sanguosha.Service/bin/
/Design Patterns/Abstract Pattern/Sanguosha.Service/obj/
/Design Patterns/Observer Pattern/ObserverPattern/bin/
/Design Patterns/Observer Pattern/ObserverPattern/obj/
/Design Patterns/Adapter Pattern/AdapterPattern/bin/
/Design Patterns/Adapter Pattern/AdapterPattern/obj/
/Design Patterns/Builder Pattern/BuilderPattern/bin/
/Design Patterns/Builder Pattern/BuilderPattern/obj/

/WebApi/FirstWebApi/bin/
/WebApi/FirstWebApi/obj/
/WebApi/WebApiAjaxCRUD/bin/
/WebApi/WebApiAjaxCRUD/obj/
/WebApi/SecondWebApi/bin/
/WebApi/SecondWebApi/obj/
/WebApi/ThirdWebApi/bin/
/WebApi/ThirdWebApi/obj/

/EF/EF6CodeFirst/bin/
/EF/EF6CodeFirst/obj/
/EF/EF6CodeFirst1/bin/
/EF/EF6CodeFirst1/obj/

/ItcastOA/ItcastOA.IDAL/bin/
/ItcastOA/ItcastOA.IDAL/obj/
/ItcastOA/ItcastOA.DAL/bin/
/ItcastOA/ItcastOA.DAL/obj/
/ItcastOA/ItcastOA.DALFactory/bin/
/ItcastOA/ItcastOA.DALFactory/obj/
/ItcastOA/ItcastOA.IBLL/bin/
/ItcastOA/ItcastOA.IBLL/obj/
/ItcastOA/ItcastOA.BLL/bin/
/ItcastOA/ItcastOA.BLL/obj/
/ItcastOA/ItcastOA.Model/bin/
/ItcastOA/ItcastOA.Model/obj/
/ItcastOA/ItcastOA.WebApp/bin/
/ItcastOA/ItcastOA.WebApp/obj/

/MultiThreading/ThreadBased/ThreadBased/bin/
/MultiThreading/ThreadBased/ThreadBased/obj/
/MultiThreading/ThreadSync/ThreadSync/bin/
/MultiThreading/ThreadSync/ThreadSync/obj/
/MultiThreading/ThreadPooling/ThreadPooling/bin/
/MultiThreading/ThreadPooling/ThreadPooling/obj/
/MultiThreading/ThreadCsharp5.0/ThreadCsharp5.0/bin/
/MultiThreading/ThreadCsharp5.0/ThreadCsharp5.0/obj/






