/.vs/

/packages/

/AOP/AOPConsoleApp/bin/
/AOP/AOPConsoleApp/obj/

/IOC/IOC.aop/bin/
/IOC/IOC.aop/obj/
/IOC/IOC.ConsoleApp/bin/
/IOC/IOC.ConsoleApp/obj/
/IOC/IOC.Factory/bin/
/IOC/IOC.Factory/obj/
/IOC/IOC.Interface/bin/
/IOC/IOC.Interface/obj/
/IOC/IOC.Service/bin/
/IOC/IOC.Service/obj/
/IOC/IOC.ServiceExt/bin/
/IOC/IOC.ServiceExt/obj/

/Loger/Loger/bin/
/Loger/Loger/obj/

/Memcache/Cache.Memcache/bin/
/Memcache/Cache.Memcache/obj/

/MVC/FirstMvcWebApp/bin/
/MVC/FirstMvcWebApp/obj/
/MVC/MvcMusicStore/bin/
/MVC/MvcMusicStore/obj/
/MVC/MvcMusicStore.Tests/bin/
/MVC/MvcMusicStore.Tests/obj/

/Redis/Redis/bin/
/Redis/Redis/obj/
/Redis/Redis.Cache/bin/
/Redis/Redis.Cache/obj/
/Redis/Redis.Cache.Base/bin/
/Redis/Redis.Cache.Base/obj/
/Redis/Redis.Cache.Factory/bin/
/Redis/Redis.Cache.Factory/obj/
/Redis/Redis.Exchange/bin/
/Redis/Redis.Exchange/obj/
/Redis/RedisBackServiceConsoleApp/bin/
/Redis/RedisBackServiceConsoleApp/obj/
/Redis/RedisConsoleApp/bin/
/Redis/RedisConsoleApp/obj/
/Redis/RedisHelper/Wdj.Redis.ConsoleTest/bin/
/Redis/RedisHelper/Wdj.Redis.ConsoleTest/obj/
/Redis/RedisHelper/Wdj.Redis.Helper/bin/
/Redis/RedisHelper/Wdj.Redis.Helper/obj/
/Redis/RedisHelper/Wdj.Redis.HelperTest/bin/
/Redis/RedisHelper/Wdj.Redis.HelperTest/obj/

/SOA/SOAConsoleApp/bin/
/SOA/SOAConsoleApp/obj/
/SOA/SOAWebApp/bin/
/SOA/SOAWebApp/obj/
/SOA/WCFHostConsoleApp/bin/
/SOA/WCFHostConsoleApp/obj/
/SOA/WCFHostWebApp/bin/
/SOA/WCFHostWebApp/obj/
/SOA/WCFInterface/bin/
/SOA/WCFInterface/obj/
/SOA/WCFModel/bin/
/SOA/WCFModel/obj/
/SOA/WCFService/bin/
/SOA/WCFService/obj/
/SOA/WebAPI1/bin/
/SOA/WebAPI1/obj/
/SOA/WebServiceHostWebApp/bin/
/SOA/WebServiceHostWebApp/obj/
/SOA/WebServiceModel/bin/
/SOA/WebServiceModel/obj/

/Util/Util/bin/
/Util/Util/obj/

/Design Patterns/Singleton Pattern/SingletonPattern/bin/
/Design Patterns/Singleton Pattern/SingletonPattern/obj/
/Design Patterns/Factory Pattern/FactoryMethodPattern/bin/
/Design Patterns/Factory Pattern/FactoryMethodPattern/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Interface/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Interface/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Service/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.Service/obj/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.ServiceExtend/bin/
/Design Patterns/Factory Pattern/FactoryPattern.ToyotaMotor.ServiceExtend/obj/
/Design Patterns/Factory Pattern/SimpleFactoryPattern/bin/
/Design Patterns/Factory Pattern/SimpleFactoryPattern/obj/











