
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTempDataTest</title>
</head>
<body>
    <div>
        <p>@ViewBag.FirstName</p>
        <P>@ViewBag.LastName</P>
        <P>@TempData["TempData1"]</P>
    </div>
</body>
</html>
