
@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagTest</title>
</head>
<body>
    <div>
        <p>@ViewBag.FirstName</p>
        <P>@ViewBag.LastName</P>
    </div>
</body>
</html>
