
@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDataTest</title>
</head>
<body>
    <div>
        <p>@ViewData["FirstName"]</p>
        <P>@ViewData["LastName"]</P>
    </div>
</body>
</html>
