<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="redisconfig" type="Redis.Cache.RedisConfigInfo,Redis.Cache" />-->
    <section name="redisconfig" type="Redis.RedisConfigInfo,Redis" />
  </configSections>
  <redisconfig configSource="XmlConfig\redis.config" />

  <appSettings>
    <!--Redis 缓存前缀 -->
    <add key="RedisPrev" value="WEICK_" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>