<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <!--Redis保存的Key前缀，会自动添加到指定的Key名称前-->
        <add key="RedisSysCustomKey" value="Redis_SysKey"/>
        <!--当前连接的Redis中的DataBase索引，默认0-64，可以在service.conf配置，最高64-->
        <add key="RedisDataBaseIndex" value="0"/>
        <!--当前连接的Redis中连接字符串，格式为：127.0.0.1:6379,allowadmin=true,passowrd=pwd-->
        <add key="RedisHostConnection" value="127.0.0.1:6379,allowadmin=true"/>
    </appSettings>
</configuration>
